/* You can add global styles to this file, and also import other style files */

.item-1 {
    background-color: aquamarine;
}

.item-2 {
    background-color: aqua;
}

.item-3 {
    background-color: coral;
}

.item-4 {
    background-color: crimson;
}

.item-5 {
    background-color: darkcyan;
}